/*
**Contents**
1. Buttons
2. Form
3. Alerts
4. Add-Button
5. Menu
5.1 Header-Menu
6. Home
7. Charts
8. Page Transitions
9. User Profile
10. TrackerManager
--------- Media Queries ---------
*/


body {
  font-family: 'Lato', sans-serif;
  /*background-color: #9fc9eb; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  z-index: 0;
  overflow: scroll;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  padding: 20px;
  font-style: italic;
  font-weight: bold;
}

h2 {
  padding: 20px;
}

/*.row{
  display: block;
  z-index: -5;
}*/
.top-abstand {
  margin-top: 5%;
}

.code {
  background-color: #f2f2f2;
}

hr {
  margin: 5%;
}

.App{
  height: 100%
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

.loading-screen{
  opacity:    1;
  background: white;
  width:      100%;
  height:     100%;
  z-index:    9990;
  top:        0;
  left:       0;
  position:   fixed;
}

.loading-screen-animation{
  z-index: 9999;
}

/*1. Buttons*/
.btn-basic {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  border: 4px solid transparent;
  border-radius: 25px;
  background: white;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-basic::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  content: '';
  z-index: -1;
  border-radius: 25px;
}

.btn-black {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #F3F4F5;
  position: relative;
  border: 4px solid transparent;
  border-radius: 25px;
  background: #333;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-black::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  content: '';
  z-index: -1;
  border-radius: 25px;
}

.btn-ghost {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  border: 4px solid transparent;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-blueline {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #9FC9EB;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-redline {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #FF6666;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-orangeline {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #FFCC66;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-blackline {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #333333;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-whiteline {
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #F3F4F5;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-round {
  width: 4em;
  height: 4em;
  padding-top: 4%;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  border: 4px solid transparent;
  border-radius: 50%;
  background: white;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-round::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  content: '';
  z-index: -1;
  border-radius: 50%;
}

/*End Buttons*/
/*2. Form*/
/*Formular-Komponente*/
/*Formular allgemein*/
form {
  padding-left: 20px;
  padding-right: 20px;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;

}

/*Register*/
.registerPic{
  background: url(./assets/img/register.jpg) bottom left/cover no-repeat;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  display: table-cell;
  height: 100%;
}

.card{
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.karte{
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;

}

.karteRegister{
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
}



.karteUser{
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;

}

.karte2{
  border-radius: 10px;
  width: 100%;
  display: table;
}

.register_body{
  display: table-cell;
  padding-left: 70px;


}

@media (max-width: 767px) {

  .karte-2 .registerPic {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .karte-2 .register_body {
    display: block;
    padding: 60px 50px;
  }
}


/*login*/

.loginPic{
  background: url(./assets/img/login.jpg) top left/cover no-repeat;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  display: table-cell;
  height: 100%;
}

.card{
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.karte{
  background: #ffffff;
  border-radius: 15px;
  margin: 70px;

}

.karteLogin{
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
}

.karte2{
  border-radius: 10px;
  width: 100%;
  display: table;
}

.login_body{
  display: table-cell;
  padding-left: 50px;
  padding-right: 50px;

}

.edit_body{
  display: table-cell;
  padding-left: 100px;
  padding-right: 190px;
}


/*User Profile*/

.userPic{
  background: url(./assets/img/user.jpg) top left/cover no-repeat;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  display: table-cell;
  height: 100%;
}

.card{
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.karte{
  background: #ffffff;
  border-radius: 15px;
  margin: 70px;

}

.karteLogin{
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
}

.karte2{
  border-radius: 10px;
  width: 100%;
  display: table;
}

.login_body{
  display: table-cell;
  padding-left: 50px;
  padding-right: 50px;

}








/*#inputState, .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #333333;
  max-width: 20em;
  outline: 0;
  background: transparent;
}*/


input::-webkit-input-placeholder {
  color: #7db9e8 !important;
}

.blue option {
  color: #7db9e8;
}

.selectBoxDate{
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  min-width: 5em;
  border-radius: 0;
}

.form-check {
  display: inline;
}

.form-group {
  display: block;
}

input {
  color: #9FC9EB;
  outline: none;
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding: 10px;
  background: transparent;
}

.custom-select {
  border-bottom: 1px solid #333333;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-check-label {
  padding-right: 40px;
  padding-left: 20px;
}

.form-check-input{
  width: 10px;
}

.input-group-text {
  background-color: transparent;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card-backgrd{
  background-color: #FFCC66;
  height: 100%;
  border-radius: 10px;
  padding: 80px 90px;

}

/*Login Formular Icons*/
.input-group-text .fa {
  background: -webkit-linear-gradient(left, #7db9e8 0%, #ff6666 50%, #ffcc66 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Form-Ende*/
/*3. Alerts*/
.alertgrad {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 7px;
  background: white;
  background-clip: padding-box;
  font-family: Lato;
  color: #333333;
}

.alertgrad::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -7px;
  right: 0px;
  background: linear-gradient(to bottom, #9FC9EB, #FF6666, #FFCC66);
  content: '';
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}

.alertgrad h3 {
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 40px 0px 30px;
}

.alertgrad p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 30px 10px 30px;
}

/*Blue Alert*/
.alertblue {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 7px;
  background: white;
  background-clip: padding-box;
  font-family: Lato;
  color: #333333;
}

.alertblue::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -7px;
  right: 0px;
  background: #9FC9EB;
  content: '';
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}

.alertblue h3 {
  font-style: normal;
  font-size: 30px;
  color: #9FC9EB;
  font-weight: 700;
  padding: 15px 40px 0px 30px;
}

.alertblue p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 30px 10px 30px;
}

/*Yellow Alert*/
.alertyellow {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 7px;
  background: white;
  background-clip: padding-box;
  font-family: Lato;
  color: #333333;
}

.alertyellow::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -7px;
  right: 0px;
  background: #FFCC66;
  content: '';
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}

.alertyellow h3 {
  font-style: normal;
  font-size: 30px;
  color: #FFCC66;
  font-weight: 700;
  padding: 15px 40px 0px 30px;
}

.alertyellow p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 30px 10px 30px;
}

/*Red Alert*/
.alertred {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 7px;
  background: white;
  background-clip: padding-box;
  font-family: Lato;
  color: #333333;
}

.alertred::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -7px;
  right: 0px;
  background: #FF6666;
  content: '';
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}

.alertred h3 {
  font-style: normal;
  font-size: 30px;
  color: #FF6666;
  font-weight: 700;
  padding: 15px 40px 0px 30px;
}

.alertred p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 30px 10px 30px;
}

/*dark Alert*/
.alertdark {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 7px;
  background: white;
  background-clip: padding-box;
  font-family: Lato;
  color: #333333;
}

.alertdark::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -7px;
  right: 0px;
  background: #333333;
  content: '';
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}

.alertdark h3 {
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 40px 0px 30px;
}

.alertdark p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 30px 10px 30px;
}

.alertgrad .fa {
  color: #333333;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
}

.alertblue .fa {
  color: #9FC9EB;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
}

.alertyellow .fa {
  color: #FFCC66;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
}

.alertred .fa {
  color: #FF6666;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
}

.alertdark .fa {
  color: #333333;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
}



/*Alerts-Ende*/
/*4. Add Button*/

.addbutton{
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 72%;

}


.fab {

  left: 43%;
  top: 90%;
}

.overlay-fab {
  display: none;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
  background-color: white;
  border-radius: 1em 1em 0px 0px;
  z-index: 999999;
  -webkit-box-shadow: -1px -4px 7px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px -4px 7px 0px rgba(0, 0, 0, 0.27);
  box-shadow: -1px -4px 7px 0px rgba(0, 0, 0, 0.27);
  left: 0;
  opacity: 0;
  margin-top: 80%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 44;
}

.fab-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-top: 5%;
  display: inline-block;
}

.fab-subtitle {
  margin-top: -2%;
}

/*End Add Button*/
/*5. Menu*/
/*5.1 Header-Menu*/
.main {
  margin-top: 100px;
  margin-bottom: 80px;
  overflow-y: scroll;
}

header {
  position: fixed;
  z-index: 999;
  margin-top: -100px;
}

#nav-header {
  padding-bottom: 2%;
  background-color: #F3F4F5;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
  height: 50px;
  z-index: 1;
}

img#logo {
  position: relative;
  right: 50%;
  left: 25%;
}



#menu-icon {
  font-size: 25pt !important;
  display: inline-block;
  float: right;
  position: relative;
  margin-top: 1%;
  margin-right: 2%;
  z-index: 20;
}

#toggle-menu {
  display: none;
  position: relative;
  float: right;
  padding-right: 2%;
  background-color: black;
  color: white;
  z-index: 20;
  background-color: #F3F4F5;
  box-shadow: 2px 2px 8px 3px #d9d9d9;
  border-radius: 0 0 0 180px;
  width: 200px;
  height: 200px;
}

#x-icon {
  position: relative;
  float: right;
  font-size: 30pt !important;
  margin-top: 20px;
  margin-right: 4%;
}

.btn-toggle {
  width: 3.5em !important;
  height: 3.5em !important;
  text-align: center;
  padding-top: 0.5em;
}

#btn-toggle-left {
  margin-top: 0.5em;
  margin-left: 1em;
}

#btn-toggle-middle {
  padding-top: 0.6em;
  margin-top: 0.7em;
  margin-left: 3em;
}

#btn-toggle-right {
  padding-top: 0.6em;
  margin-top: -1em;
  margin-left: 7em;
}

.icon-toggle {
  font-size: 25pt !important;
  color: #333333;
}

i.icon-toggle{
  text-decoration: none;
}

/*Header Navigation Tablet und Desktop*/
.li-header {
  float: left;
  display: inline-block;
}

#ul-left-header {
  margin: 0;
  list-style: none;
  float: left;
  padding-left: 0% !important;
  display: inline-block;
  position: relative;
  margin-top: 1%;
  margin-left: 2%;
  z-index: 20;
}

.li-header-left {
  margin-left: 1em;
}


.icons-header {
  font-size: 25pt !important;
  color: #333333;
}

i.icons-header{
  text-decoration: none;
}

/*End Header-Menu*/
/*5.2 Footer-Menu*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: -0.7em;
  height: 70px;
  z-index: 1;
}

#nav-footer {
  padding-left: 0% !important;
  padding-right: 0% !important;
  padding-right: 4%;
  padding-top: 3%;
  height: 80px;
  z-index: 1;
  background-color: #F3F4F5;
}

.li-footer {
  float: left;
  display: inline-block;
}

#ul-left-footer {
  margin: 0;
  list-style: none;
  float: left;
  padding-left: 0% !important;
}

#ul-right-footer {
  margin: 0;
  list-style: none;
  float: right;
  padding-left: 0% !important;
}

.li-footer-left {
  margin-left: 3em;
}

.li-footer-right {
  margin-right: 3em;
}

.icons-footer {
  font-size: 30pt !important;
  color: #333333;
}

i.icons-footer{
  text-decoration: none;
}

/*End Footer-Menu*/
/*End Menu*/

/*6.WebFit Home*/

.main{
  margin-bottom: 0;
  overflow: auto;
}

.card {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  background-color: rgba(243, 244, 245, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control.right, .carousel-control.left{
  background: none;
}

.carousel-indicators{
  bottom: -50px;
}

.carousel-indicators li{
  width: 6px;
  height: 6px;
  background-color: #333;
}



img.kacheln {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kachelnSquare {
  display: inline;
}

/*Kalender*/
.react-calendar{
  width: 450px !important;
  max-width: 450px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none !important;
  background: transparent !important;
}

.react-calendar__navigation{
  font-size: 30px;
  text-align: center;
  color: #F3F4F5;
  text-decoration: none;
  line-height: 1.5;
  margin-bottom: 0px !important;
}

.react-calendar__navigation__arrow{
  font-weight: bold !important;
  border: none !important;
  background-color: transparent;
  width: 60px;
}

.react-calendar__navigation__arrow:hover, .react-calendar__navigation__arrow:focus, .react-calendar__navigation__label:hover, .react-calendar__navigation__label:focus{
  background: transparent !important;
}

.react-calendar__navigation__label{
  border: none !important;
  background-color: transparent;
  width: 60px;
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
  display: none;
}

.react-calendar__month-view__weekdays{
  text-transform: none !important;
  font-weight: normal !important;
  font-size: 30px !important;
}

.react-calendar__month-view__weekdays__weekday{
  font-size: 30px;
  text-align: center;
  width: 60px;
  color: #333333;
  line-height: 1.5;
  padding: 0px !important;
}

.react-calendar__month-view__days__day--weekend, .react-calendar__month-view__days__day--neighboringMonth{
  color: #F3F4F5 !important;
}

.react-calendar__tile{
  font-size: 25px;
  text-align: center;
  width: 60px;
  max-width: 60px;
  height: 39px;
  color: #F3F4F5;
  text-decoration: none;
  border: none !important;
  background-color: transparent;
  line-height: 1.5;
  padding: 0px !important;
}

.react-calendar__tile--active{
  background: none !important;
  color: #F3F4F5 !important;
  font-weight: bold !important;
  padding: 0px !important;
}

.react-calendar__tile:focus {
  color: #333333 !important;
  font-weight: normal !important;
  width: 35px;
  height: 35px;
  border-radius: 70%;
  background-color: #F3F4F5 !important;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.button.react-calendar__tile--active{
  font-weight: bold;
}

.react-calendar__tile:hover{
  background: transparent !important;
}

#myform {
  width: 80%;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(243, 244, 245, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  float: center;
  display: block;
}

.calendar_form {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-y: scroll;
}

.btn_calendar{
  border: none;
  background: none;
  float: right;
}

.addWorkout{
  font-size: 20pt !important;
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

/*9. User Profile*/

.kachel1{
  border-image: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  display : inline-block;
  margin: 5px;
  text-align: center;
 }
.kachel2{
  border-image: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  display : inline-block;
  margin: 5px;
  text-align: center;
 }
.kachel3{
  /*border-color: #FF6666;*/
  border-image: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  display : inline-block;
  margin: 5px;
  text-align: center;
}


 .kachel_header{
  padding-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
 .userInfo{
   border-bottom: 1px solid #000;
   width: 200px;
}

.userContainer{
  padding-left: 100px;
  padding-top: 300px;
  z-index: 2;
  position: absolute;
}

.headerImage{
  z-index: 1;
  position: absolute;
}

.profileImage{
  z-index: 1;
  position: absolute;
  margin-left: auto;
    margin-right: auto;
}

/* End User Profile*/



/*7. Charts*/

.chartbox{
  width: 100%;
  height: 280px;
  background-color: rgba(243, 244, 245, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  float: left;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chartboxweekly{
  width: 100%;
  height: 280px;
  padding: 5px;
  margin: 10px;
  float: left;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.headlinecharts {
  margin: 15px !important;
}

.ct-chart {
  margin-top: 20px;
}

.headlinecharts{
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.ct-series-a .ct-bar {
  stroke: #FFCC66;
  stroke-width: 2px;
}

.ct-series-a .ct-area {
  fill: #ffcc66;
  stroke: none;
  fill-opacity: .7;
}

.ct-series-b .ct-area {
  fill: #ffcc66;
  stroke: none;
  fill-opacity: .3;
}

.ct-series-a .ct-pie {
  stroke: #FFCC66;
}
.ct-series-a .ct-slice-donut {
  stroke: #ffcc66;
}
.ct-series-b .ct-slice-donut {
  stroke: #333333;
}
.midtextpie {
  text-align: center;
  padding: 50%;
}

.area1 {
  float: left;
  height: auto;
  width: 100%;
}

.area2 {
  visibility: hidden;
}


.herzfrequenz, .ideal, .hoehepunkt, .tiefpunkt {
  margin-top: 30px;
}

@media (min-width: 650px) {
  .area1 {
    float: left;
    height: auto;
    width: 60%;
  }
  
  .area2 {
    visibility: visible;
    float: left;
    height: auto;
    width: 40%;
    text-align: left;
  }
}

.fa-fire {
  font-size: 50px;
  color: #333333;
}

.fa-heartbeat {
  font-size: 50px;
  color: #333333;
}

.fa-route {
  font-size: 50px;
  color: #333333;
}

.wobox{
  float: left;
  width: 50%;
}

.wobox1, .wobox2, .wobox3, .wobox4, .wobox5, .wobox6{
  margin-top: 30px;
  float: left;
  width: 33%;
}

@media (max-width: 640px) {

 .wobox {
   float: none;
   width: 100%;
 }

 .wobox1, .wobox2, .wobox3, .wobox4, .wobox5, .wobox6{
  margin-top: 5px;
  float: left;
  width: 33%;
}

}

.woboxp{
  margin: 2px;
}

.goalChart {
  float: left;
  width: 50%;
  height: 160px;
}

/* Charts End */

/*8. Page Transitions*/

.container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 15s0ms linear;
}

/* Page Transitions End*/
/*End WebFit Home*/

/* 10. TrackerManager */
.tracker-element{
  min-width: 30em;
}

.trackermanager-back-button{
  margin-top: 5%;
}

/* END TRACKERMANAGER */

/* --------- Media Queries --------- */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
    overflow: scroll;
  }

   /*5.1. Home-Menu*/
   #ul-left-header {
    display: none;
  }

  img#logo {
    position: static;
    float: left;
    margin-left: 2%;
    margin-top: 1.5%;
    width: 20%;
  }

  .karteLogin {
    background: #ffffff;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.karte {
  display: block;
}
.karte2 .loginPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;

}
.loginPic{
  height: 20%;
}
.karte2 .login_body {
  display: block;

}

.karteRegister {
  background: #ffffff;
  border-radius: 15px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.karte {
display: block;
}
.karte2 .registerPic {
width: 100%;
display: block;
padding-top: 150px;
background-position: left center;
border-top-left-radius: 15px;
border-bottom-left-radius: 0px;
border-top-right-radius: 15px;
background: url(./assets/img/register2.jpg) top left/cover no-repeat;

}
.registerPic{
height: 20%;
}
.karte2 .register_body {
display: block;

}


.register_body {
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
}

.karte2 .userPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  background: url(./assets/img/user2.jpg) top left/cover no-repeat;


  }

  .karteUser{
    margin-bottom: 100px;
  }

  .edit_body{
    display: table-cell;
    padding-left: 50px;
    padding-right: 30px;
  }

  /*6. Home*/


    .card {
      width: 90%;
      height: 200px;
      border-radius: 10px;
      background-color: rgba(243, 244, 245, 0.5);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }



    .react-calendar {
      display: none;
    }

    .kachelnSquare {
      display: none;
    }

    #myform.calendar_form{
     display: none;
    }

    .addbutton{
      position: fixed;
      z-index: 2;
      left: 0;
      width: 100%;
      top: 72%;

    }


    .fab {

      left: 43%;
      top: 90%;
    }
  }

/*----------------------------------------------------- Statistiken ----------------------------------------------------- */

.statistikenbox {
  height: 140px;
  width: 335px;
  margin: 20px;
  background-color: white;
  border: 2px solid #FFCC66;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.heartbeaticon, .fa-balance-scale{
  font-size: 100px;
  color: #FFCC66;
  margin: 15px 15px 15px 25px;
}

.textstatistikenicon2 {
  width: 85px;
  height: 33px;
  float: right;
  margin: 50px 50px 0px 0px;
}

.textstatistikenicon {
  font-size: 23px;
  color: #333333
}

/*--------------------------------------------------- Statistiken Ende --------------------------------------------------- */

/*----------------------------------------------------- Schritte ----------------------------------------------------- */

.container.statistiken {
  height: 95%;
  width: 95%;
  margin: 0px auto;
  background-color: white;
  border: 0,5px solid #333333;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.backstatistiken{
  float: left;
  margin: 5px;
  color: #333333;
  font-size: 25px;
}

.grafikbox {
  width: 100%;
  height: 320px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #333333;
  border-bottom: 30px solid #333333;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.midtextbox {
  margin-top: 300px;
  height: 30px;
  color: #FFF;
  background-color: #333333;
}

.boxstatistiken {
  width: 100%;
  height: auto;
  margin: 0px auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
.boxstatistiken2 {
  height: 50px;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #333333;
  margin-top: -1px; 
}

.gewichtbox {
  width: 100%;
  height: 650px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.gewichtbox2 {
  height: 50px;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #333333;
  margin-top: -1px; 
}

.gewichtsabzu1 {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.gewichtsabzu2 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}


.h4statistiken {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  padding-right: 30px;
}

.boxstatistiken2headline {
  padding-top: 13px;
  padding-left: 25px; 
  font-size: 18px;
  color: #FFF;
}


.nav-tabs {
  margin: 0px auto;
}

.nav-tabs li {
  width: 67px;
  height: 30px;
  text-align: center;
  border-right: 1px solid #333333;
  margin: 0px;  

}
.nav-tabs li a{
  padding: 0px;
  margin-top: 5px;
  border: 0px;
  color: #333333;
}

.nav-tabs li:last-child{
  border: none;
}

.nav-tabs {
  width: 270px;
  border: 1px solid #333333;
  border-radius: 30px;
}

/*--------------------------------------------------- Schritte Ende --------------------------------------------------- */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
    overflow: scroll;
  }

  /*5.1. Home-Menu*/
  #ul-left-header {
    display: none;
  }

  img#logo {
    position: static;
    float: left;
    margin-left: 2%;
    margin-top: .5%;
    width: 11%;
  }


  .karteLogin {
    background: #ffffff;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

  .karte {
    display: block;
  }

  .karte2 .loginPic {
    width: 100%;
    display: block;
    padding-top: 150px;
    background-position: left center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;

  }

  .loginPic{
    height: 20%;
  }

  .karte2 .login_body {
    display: block;

  }

  .karteRegister {
    background: #ffffff;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
  }

  .karte {
  display: block;
  }
  .karte2 .registerPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  background: url(./assets/img/register2.jpg) bottom left/cover no-repeat;

  }
  .registerPic{
  height: 20%;
  }
  .karte2 .register_body {
  display: block;

  }
  .register_body {
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
}

.karte2 .userPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  background: url(./assets/img/user2.jpg) top left/cover no-repeat;

  }

  .karteUser{
    margin-bottom: 100px;
  }

  .edit_body{
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
  }


  .addbutton{
    position: fixed;
    z-index: 2;
    left: 0;
    width: 100%;
    top: 72%;

  }


  .fab {

    left: 43%;
    top: 90%;
  }
  /*6. Home*/

  .card {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(243, 244, 245, 0.5);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .react-calendar {
    display: none;
  }

  .kachelnSquare {
    display: none;
  }

  #myform.calendar_form{
    display: none;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
    overflow: scroll;
  }


  /*5.2 Footer-Menu*/
  footer {
    display: none;
  }

  /*6. Home*/

  .kacheln{
    display: none;
  }


  .karteLogin {
    background: #ffffff;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

  .karte {
    display: block;
  }
  .karte2 .loginPic {
    width: 100%;
    display: block;
    padding-top: 150px;
    background-position: left center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;

  }
  .loginPic{
    height: 20%;
  }
  .karte2 .login_body {
    display: block;

  }

  .karteRegister {
    background: #ffffff;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
  }

  .karte {
  display: block;
  }
  .karte2 .registerPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  background: url(./assets/img/register2.jpg) top left/cover no-repeat;

  }
  .registerPic{
  height: 20%;
  }
  .karte2 .register_body {
  display: block;

  }
  .register_body {
    display: table-cell;
    padding-left: 30px;
    padding-right: 30px;
}

.karte2 .userPic {
  width: 100%;
  display: block;
  padding-top: 150px;
  background-position: left center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  background: url(./assets/img/user2.jpg) top left/cover no-repeat;

  }

  .karteUser{
    margin-bottom: 100px;
  }

  .addbutton{
    position: fixed;
    z-index: 2;
    left: 0;
    width: 100%;
    top: 72%;

  }


  .fab {

    left: 43%;
    top: 90%;
  }

  }



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
    overflow: scroll;
  }
  /*5.1 Header-Menu*/
  #logo {
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-top: .2%;
  }

  /*5.2 Footer-Menu*/
  footer {
    display: none;
  }

  /*6. Home*/

  .kacheln{
    display: none;
  }

  .fab {
    left: 97%;
    top: 90%;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
    overflow: scroll;
  }

/*5.1 Header-Menu*/
  #logo {
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-top: .2%;
  }



  /*5.2 Footer-Menu*/
  footer {
    display: none;
  }

  /*6. Home*/

  .kacheln{
    display: none;
  }

  .fab {
    left: 97%;
    top: 90%;
}
}
